<!DOCTYPE HTML>
<html>
<head>
    <title>로띠그램 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- ckeditor5 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal animate__animated animate__slideInUp animate__delay-0.5s" style="margin-right:auto;">로띠그램 서비스 Ver.2</p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
            <a class="p-2 text-dark" href="#">Pricing</a>
        </nav>

        {{#userName}}
            <span id="user">{{userName}} 님이 접속하셨습니다. </span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
            <a href="/oauth2/authorization/google" class="btn btn-outline-primary" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-outline-success" role="button">Naver Login</a>
        {{/userName}}
    </header>