{{>layout/header}}

<h1 class="animate__animated animate__rubberBand animate__delay-0.5s">로띠그램</h1>

<div class="col-md-12">
    <div class="col-md-12">
        <form>
            <div style="padding-bottom: 31px;">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" value="{{post.id}}" readonly>
                </div>
                <div class="post__title animate__animated animate__slideInUp animate__delay-0.5s">
                    <p>
                        {{post.title}}
                    </p>
                </div>
                <div class="post__author animate__animated animate__slideInUp animate__delay-0.75s">
                    {{post.modifiedDate}}
                    <span class="post__explain__bar"></span>
                    {{post.author}}
                </div>
            </div>
            <div class="post__content animate__animated animate__slideInUp animate__delay-1s">
                <textarea class="form-control" id="content">{{post.content}}</textarea>
                <script>
                    let editor;
                    ClassicEditor
                        .create( document.querySelector( '#content' ) )
                        .then( newEditor => {
                            editor = newEditor;
                        })
                        .catch( error => {
                            console.error( error );
                        } );
                </script>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">목록</a>
        {{#userName}}
            <a href="/posts/update/{{post.id}}" role="button" class="btn btn-primary">수정</a>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        {{/userName}}
    </div>
</div>

{{>layout/footer}}
<script src="/js/app/view.js"></script>
